# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# NVDA addon packaging
*.nvda-addon

# OS generated
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store

# IDE
.vscode/
.idea/
